<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toggle Box</title>
    <link rel="stylesheet" href="style.css">
    <script src="toggle-box.js"></script>
</head>

<body>

    <!-- Recherche sur le attributs et les slots -->
    <app-toggle-box state="true" title="Les web components"></app-toggle-box>

    <!-- Appel du composant -->
    <app-toggle-box state="true" title="La folle histoire de Roger">
        <div slot="text2">
            <img src="https://i.pinimg.com/originals/84/13/66/84136686bcdc4934556299afc881dc65.jpg">
        </div>
    </app-toggle-box>

    <app-toggle-box state="false" title="title of my box 2">
        <p slot="text1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus neque magnam ad pariatur
            atque optio debitis tenetur ipsum at ut?
        </p>
    </app-toggle-box>

    <!-- Example de la structure HTML du composant -->
    <!-- B Block, E Element, M modifier -->
    <!-- <div class="toggle-box">
        <h2 class="toggle-box-title">Title of the box</h2>
        <div class="toggle-box-body">
            content of my toggle box
        </div>
    </div> -->

    <script>
        elem = document.querySelector('app-toggle-box');

        console.log("test", elem._value);
    </script>
</body>

</html>